flask==3.0.3
flask-cors==5.0.0
selenium==4.28.0
webdriver-manager==4.0.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.1
deep-translator==1.11.4
langdetect==1.0.9
nltk==3.9.1
gunicorn==23.0.0